<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Sports</h1>
    <% if (sport.length === 0) { %>
        <p>no sports found</p>
        <% } else { %> <% sport.forEach(s=> { %>
        <div>
            <h2><%= s.name%></h2>
            <p>Type: <%= s.type%></p>
            <p>Category: <%= s.category%></p>
            <p>Discipline: <%= s.discipline%></p>
            <% }); %> <%} %>
        </div>
            <h1>Login in to update or delete</h1>
            <form class="form">
              <label for="email">Email:</label>
              <input type="email" id="email" name="email" required />
              <label for="password">password:</label>
              <input type="password" id="password" name="password" required />
              <button type="submit">Login</button>
            </form>
            <hr />
            <h1>Sign up </h1>
            <form class="form0">
              <!-- <label for="name">Name:</label>
              <input type="text" name="name" required /> -->
              <label for="email">Email:</label>
              <input type="email" id="email0" name="email" required />
              <label for="password">password:</label>
              <input type="password" id="password0" name="password" required />
              <button type="submit">Sign up</button>
            </form>
          
            <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.3.6/axios.min.js"></script>
            <script type="text/javascript" src="/js/login.js"></script>
            <script type="text/javascript" src="/js/signup.js"></script>
</body>
</html>